# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual Environment
venv/
env/
.venv/

# Environment variables
.env

# Flask
instance/
*.log

# Node modules
node_modules/

# Vite build files
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# React cache
.cache/